div {
    font-size: 150%;
    margin-left: 0px;
    font-weight: bold;
}
p {
    font-size: 150%;
    padding-top: 25px;
    font-family: 'Montserrat';
}
body {
    background-color: #FFFACD;
}
ul {
    font-size: 150%;
    font-family: 'Montserrat';
}
p.pan {
    color: black;
    background-color: FFA07A;
    font-weight: bold;
}
h2 {
    padding-top: 25px;
    background-color: FFA07A;
}
footer {
    background-color: #FFFACD;
    
}
h3, h4 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 200%;
    padding-top: 25px;
}
