header {
    width: 100%;
    height: 100px;
    background-color: #FFA07A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFACD;
}
header a {
    color: #FFFACD;
    text-decoration: none;
}
body {
    background-color: #FFFACD;
}
.Name_Site {
    margin-left: 35px;
    font-size: 52px;
}
.naprav {
    margin-right: 35px;
}
footer {
    background-color: #FFA07A;
    height: 100px;
}
.rebyta {
    font-size: 20px;
    color: #FFFACD;
}
.sled {
    text-decoration: none;
    color: #FFFACD;
}
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
h2 {
    background-color: #FFA07A;
    color: #FFFACD;
}
