div {
    font-size: 150%;
    margin-left: 0px;
    font-weight: bold;
}
p {
    font-size: 150%;
    padding-top: 25px;
    font-family: 'Montserrat';
}
body {
    background-color: #FFFACD;
}
ul {
    font-size: 150%;
    font-family: 'Montserrat';
}
p.pan {
    color: black;
    background-color: FFA07A;
    font-weight: bold;
}
h2 {
    padding-top: 25px;
    background-color: FFA07A;
}
footer {
    background-color: #FFFACD;
    
}
h3, h4 {
    font-family: 'Montserrat';
    text-align: center;
    font-size: 200%;
    padding-top: 25px;
}

header {
    width: 100%;
    height: 100px;
    background-color: #FFA07A;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFACD;
}
header a {
    color: #FFFACD;
    text-decoration: none;
}
body {
    background-color: #FFFACD;
}
.Name_Site {
    margin-left: 35px;
    font-size: 52px;
}
.naprav {
    margin-right: 35px;
}
footer {
    background-color: #FFA07A;
    height: 100px;
}
.rebyta {
    font-size: 20px;
    color: #FFFACD;
}
.sled {
    text-decoration: none;
    color: #FFFACD;
}
* {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
